@model MVC_P0105_Currency_Exchange_Rate.DTOs.CurrenciesModel

<script src="~/js/daysCalculator.js"></script>
@using (Html.BeginForm("GetRates", "Home", FormMethod.Post))
{
<div style="width: 400px">
    <table class="table">
        <tr>
            <th class="text-center">Year</th>
            <th class="text-center">Month</th>
            <th class="text-center">Day</th>
        </tr>
        <tr>
            <td>@Html.DropDownListFor(m => m.Year
                 , new SelectList(Model.PossibleDates.Years)
                 , new { @class = "form-control", @id = "year", @onChange = "changed()" })</td>
            <td>@Html.DropDownListFor(m => m.Month
                 , new SelectList(Model.PossibleDates.Months)
                 , new { @class = "form-control", @id = "month", @onChange = "changed()" })</td>
            <td>@Html.DropDownListFor(m => m.Day
                 , new SelectList(Model.PossibleDates.Days)
                 , new { @class = "form-control", @id = "day" })</td>
        </tr>
    </table>
</div>

<input class="btn btn-info" type="submit"/>
@Html.ValidationSummary();
}

@if(Model.Currencies != null)
{
    <table class="table table-hover mt-2">
        <tr class="table-info">
            <th>#</th>
            <th>Name</th>
            <th>Rate</th>
            <th>Change</th>
        </tr>
        @for(int i = 0; i < Model.Currencies.Count; i++)
        {
            <tr>
                <td class="table-hover">@(i+1)</td>
                <td class="table-hover">@Model.Currencies[i].Name</td>
                <td class="table-hover">@Model.Currencies[i].Rate</td>
                @if (@Model.Currencies[i].Change > 0)
                {
                    <td style="color: lawngreen" class="table-hover"><b>@Model.Currencies[i].Change</b></td>
                }
                else if (@Model.Currencies[i].Change < 0)
                {
                    <td style="color: red" class="table-hover"><b>@Model.Currencies[i].Change</b></td>
                }
                else
                {
                    <td class="table-hover">@Model.Currencies[i].Change</td>
                }
            </tr>
        }
    </table>
}
